@model TPLabo_4.Models.Carpinteria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carpinteria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dd>
            @if (!string.IsNullOrEmpty(@Model.fotografia))
            {
                <img src="~/imagenes/Ferreteria/@Model.fotografia" class="rounded-circle" style="max-width:50px" asp-append-version="true" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCalidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
