@* @model IEnumerable<TPLabo_4.Models.Carpinteria> *@
@model TPLabo_4.ViewsModels.CarpinteriaViewModels
@{
    ViewData["Title"] = "Index";
}

<h1>Carpinteria</h1>

<form method="post" asp-controller="Carpinterias" asp-action="ImportExcel" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Importar Excel</button>
</form>
<p>
    <a asp-action="Create">Agregar un nuevo producto</a>
</p>
<form asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="busquedaNombre"/>
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listaCarpinteria[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listaCarpinteria[0].Stock)
            </th>
            <th>
                fotografia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listaCarpinteria[0].precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listaCarpinteria[0].descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listaCarpinteria[0].IdCalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaCarpinteria)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.fotografia))
                {
                    <img src="~/imagenes/Carpinteria/" class="img-thumbnail" style="max-width:50px; max-height:75px" asp-append-version="true" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Carpinterias" asp-action="Index" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
