@model IEnumerable<TPLabo_4.Models.Carpinteria>

@{
    ViewData["Title"] = "Index";
}

<h1>Carpinteria</h1>

<form method="post" asp-controller="Carpinterias" asp-action="ImportExcel" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Importar Excel</button>
</form>
<p>
    <a asp-action="Create">Agregar un nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                fotografia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.fotografia))
                {
                    <img src="~/imagenes/Carpinteria/" class="img-thumbnail" style="max-width:50px; max-height:75px" asp-append-version="true" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
