@model IEnumerable<TPLabo_4.Models.Ferreteria> 
@{
    ViewData["Title"] = "Index";
}

<h1>Ferreteria</h1>

<p>
    <a asp-action="Create">Agregar nuevos productos</a>
</p>
<form asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="busquedaNombre" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                fotografia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(@item.fotografia))
                    {
                        <img src="~/imagenes/Ferreteria/@item.fotografia" class="rounded-circle" style="max-width:50px" asp-append-version="true" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
